body{
    background-color: #00ffff;
}

.roof{
    width: 350px;
    height: 250px;
    position: absolute;
    background-color: #00ffff;
    left: 40%;
    top: 32%;
}

.wall{
    width: 200px;
    height: 150px;
    position: absolute;
    background-color: #000;
    left: 45%;
    top: 32%;
}

.roof1{
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: #b52a2d;
    left: 45%;
    top: 20%;
    transform: rotate(45deg);
}

.door{
    width: 50px;
    height: 80px;
    position: absolute;
    background-color: #b52a2d;
    left: 46%;
    top: 43%;
}

.handle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    top: 47%;
    position: absolute;
    left: 46%;
}

.window{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: green;
    left: 55%;
    top: 35%;
}